.story {
  position: relative;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 120px;
  height: 200px;
  box-shadow: 0px 5px 17px -7px rgba(red, green, blue, 0.75);
  border-radius: 10px;
  margin-right: 10px;
  transition: transform 100ms ease-in;
  cursor: pointer;
}

.story:hover {
  transform: scale(1.07);
}

.story__avatar {
  margin: 10px;
  border: 5px solid #2e81f4;
}
.story > h4 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
}
@media screen and (max-width: 999px) {
  .story {
    width: 60px;
    height: 100px;
  }
  .story__avatar {
    margin: 2px;
    border: 1px solid #2e81f4;
  }
  .story > h4 {
    position: absolute;
    bottom: 4px;
    left: 4px;
    color: white;
    font-size: 10px;
  }
}
